body{
    background: url(../images/ep_naturalblack.png);
    color:white;
    font-family: 'Marvel', sans-serif;
}

.card-text{
    color:black;
    font-weight:bold;
}

.card-title{
    color:black;
    font-weight:bold;
}

.card-download{
    color:#007bff;
    font-weight:bold;
}

label{
    color:black;
    font-size:150%;
    font-weight:bold;
}

#logo{
    text-align: center;
}

input#marvel-character-input, input#addMarvelCharacter{
    width:100%;
}

.fas, .fa-download{
    color:black;
}

.container-fluid{
    margin-top:20px;
}

.character{
    margin:5px;
}

#marvelCharacterButtons, .card{
    margin-bottom:20px;
}

.instructions, h4{
    color:black;
    font-weight:bold;
}

h2{
    margin-top:150px;
    text-align:center;
}

#moreGifs{
    clear:both;
    margin: 50px 50px;
}