body{
    background: url(../images/ep_naturalblack.png);
    color:white;
    font-family: 'Marvel', sans-serif;
}

.card-text{
    color:black;
}

.card-title, label{
    color:black;
    font-weight:bold;
}

#logo{
    clear:both;
}

input#marvel-character-input, input#addMarvelCharacter{
    width:100%;
}

.fas, .fa-download{
    color:black;
}

.container-fluid{
    margin-top:20px;
}

.character{
    margin:5px;
}